<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rjp.eaction"
    >

    <application
        android:icon="@mipmap/bg_mine_user_default"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        >
        <activity android:name=".TestActivity">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitys.MatchDetailActivity" />
        <activity android:name=".ui.activitys.AnalyzeSSQActivity" />
        <activity android:name=".ui.activitys.NewsDetailActivity" />
        <activity android:name=".ui.activitys.OpenPrizeJCZQActivity" />
        <activity android:name=".ui.activitys.OpenPrizeJCLQActivity" />
        <activity android:name=".ui.activitys.OpenPrizeSFGGActivity" />
        <activity android:name=".ui.activitys.OddsOupeiActivity" />
    </application>

</manifest>